<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="TfsUri" value="http://tfs:8080/tfs/" />
    <add key="TfsUriShort" value="http://tfs:8080/tfs/LabTasks/" />
  </appSettings>
</configuration>